.container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 80px;
  overflow-y: auto;
}

.mapContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 24vh;
  max-height: 180px;
  overflow: hidden;
}

.detailSection {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-left: 16px;
  margin-right: 16px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: clamp(16px, 2.1vh, 20px);
  color: #000;
  font-weight: 600;
}

.title {
  font-size: clamp(18px, 3.2vh, 32px);
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 2vh 0;
}

.address {
  font-size: clamp(14px, 2vh, 18px);
  color: #666;
  text-align: center;
  margin: 0px;
}

.routeButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: none;
  z-index: 1000;
}
