.button {
  height: 48px;
  background-color: #4880ee;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.buttonText {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Pretendard", sans-serif;
}
